body{
  background: black;
  color: white;
  /* padding: 0px 30px; */
}
h1{
  font-size: 50px;
  font-weight: 900;
}
input{
  background: black;
  border: 1px solid rgb(78, 78, 78);
  outline: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-weight: 400;
  width: 400px;
}
input:hover{
  border: 1px solid white;
}
.aa{
  /* margin-right: 110px; */
  margin-bottom: 10px;
}
.log{
  color: white;
}
.ww{
  background: black;
  color: white;
  border: 1px solid rgb(78, 78, 78);
  padding: 10px;
  width: 400px;
  border-radius: 50px;
}
.ww:hover{
  border: 1px solid white;
}
.goo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 100px;
}
.vv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}
.qq{
  color: rgba(28, 105, 38, 0.923);
  font-weight: 600;
}
.btn{
  background: rgb(21, 80, 21);
  padding: 20px;
  width: 400px;
  border-radius: 50px;
  border: none;
  color: black;
}
.btn:hover{
  background: rgba(28, 105, 38, 0.923);
  color: black;
}
.jj{
  color: red;
}
.rr{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.zz{
  border-bottom: 1px solid white;
  width: 170px;
  margin-right: 20px;
}
.ohoh{
  border-bottom: 1px solid white;
  width: 170px;
  margin-left: 20px;
}
@media screen and (max-width: 576px){
  form{
    width: 100%;
  }
  input{
    width: 100%;
  }
  .btn{
    width: 100%;
  }
  .rr{
    width: 100%;
  }
  .ww{
    width: 100%;
  }

}